
      <section class="overview">
        <div class="overview-card">
          <h3>Applications Sent</h3>
          <p>24</p>
        </div>
        <div class="overview-card">
          <h3>Interviews Scheduled</h3>
          <p>5</p>
        </div>
        <div class="overview-card">
          <h3>Offers Received</h3>
          <p>2</p>
        </div>
      </section>


      <section class="job-list">
        <h2>My Applications</h2>

        <div class="job-card">
          <div class="job-info">
            <h3>Frontend Developer</h3>
            <p>Google • Applied on Sept 12, 2025</p>
          </div>
          <span class="status applied">Applied</span>
        </div>

        <div class="job-card">
          <div class="job-info">
            <h3>Data Analyst</h3>
            <p>Amazon • Interview on Oct 5, 2025</p>
          </div>
          <span class="status interview">Interview</span>
        </div>

        <div class="job-card">
          <div class="job-info">
            <h3>Backend Engineer</h3>
            <p>Spotify • Offer received</p>
          </div>
          <span class="status offer">Offer</span>
        </div>

      </section>


